<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-rzunick/blob/main/Python_for_Data_Science_IBM_Modulo_2_RDZ.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Data Structures

In [ ]:
#Workspace for code tryouts

Lab - Lists and Tuples

In [8]:
#Create a Tuple
A=(0,1,2,3)
print(A)

#Access Elements
print(A[0:2])

#Creating Lists
B=["a","b","c"]
print(B[0:2])

#Editing Lists
B[0]="A"
print(B)

(0, 1, 2, 3)
(0, 1)
['a', 'b']
['A', 'b', 'c']

In [30]:
# Create your first tuple
tuple1 = ("disco",10,1.2 )

# Print the type of the tuple you created
type(tuple1)

# Print the variable on each index
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

# Print the type of value on each index
print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

# Use negative index to get the value of the last element
print(tuple1[-3])

# Concatenate two tuples
tuple2 = tuple1 + ("hard rock", 10)
print(tuple2)

# Slice from index n to index m
print(tuple2[3:5])
print(len(tuple2))

# Sorting sample tuple
Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)
RatingsSorted = sorted(Ratings)
print(Ratings)
print(RatingsSorted)

# Create a nest tuple
NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

# Print element on each index
print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

# Print element on each index, including nest indexes
print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

# Print the second element in the second nested tuples
NestedT[4][1][1]

disco
10
1.2
<class 'str'>
<class 'int'>
<class 'float'>
disco
('disco', 10, 1.2, 'hard rock', 10)
('hard rock', 10)
5
(0, 9, 6, 5, 10, 8, 9, 6, 2)
[0, 2, 5, 6, 6, 8, 9, 9, 10]
Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))
Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

2

In [44]:
# Quiz on Tuples

# sample tuple
genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
#Find the length of the tuple, genres_tuple:
print(len(genres_tuple))

#Access the element, with respect to index 3
print(genres_tuple[3])

#Use slicing to obtain indexes 3, 4 and 5
print(genres_tuple[3:6])

#Find the first two elements of the tuple genres_tuple
print(genres_tuple[0:2])

#Find the first index of "disco"
print(genres_tuple.index("disco"))

#Generate a sorted List from the Tuple C_tuple=(-5, 1, -3)
C_tuple=(-5,1,-3)
C_list=sorted(C_tuple)
print(C_list)

8
hard rock
('hard rock', 'soft rock', 'R&B')
('pop', 'rock')
7
[-5, -3, 1]

In [56]:
# Create a list
L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

# Print the elements on each index
print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )

# Sample List
["Michael Jackson", 10.1, 1982, [1, 2], ("A", 1)]

# List slicing
print(L[3:5])

# Use extend to add elements to list
L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
print(L)

# Use append to add elements to list
L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
print(L)

# Change the element based on the index
A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

# Delete the element based on the index
print('Before change:', A)
del(A[0])
print('After change:', A)

# Split the string, default is by space
'hard rock'.split()

# Split the string by comma
'A,B,C,D'.split(',')

# Copy (copy by reference) the list A
A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

the same element using negative and positive indexing:
 Postive: Michael Jackson
 Negative: 1982
the same element using negative and positive indexing:
 Postive: 10.1
 Negative: MJ
the same element using negative and positive indexing:
 Postive: 1982
 Negative: 1
['MJ', 1]
['Michael Jackson', 10.2, 'pop', 10]
['Michael Jackson', 10.2, ['pop', 10]]
Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]
Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]
A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [62]:
#Quiz on Lists

#Create a list a_list, with the following elements 1, hello, [1,2,3] and True
a_list = [1, 'hello', [1, 2, 3] , True]
print(a_list)

#Find the value stored at index 1 of a_list
print(a_list[1])

#Retrieve the elements stored at index 1, 2 and 3 of a_list
print(a_list[1:4])

#Concatenate the following lists A = [1, 'a'] and B = [2, 1, 'd']
A = [1, 'a']
B = [2, 1, 'd']
print(A+B)

[1, 'hello', [1, 2, 3], True]
hello
['hello', [1, 2, 3], True]
[1, 'a', 2, 1, 'd']

Lab - Sets

In [68]:
#Practice with Sets
set(['A','B','C','A','B','C'])

S={'A','B','C'}
S.add("D")
S

A={1,2,3,4,5}
B={1,3,9, 12}
A&B
A.intersection(B)

{1, 3}

In [87]:
#Lab Part 1

# Create a set
set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

# Convert list to set
album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

# Convert list to set
music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul", \
                    "progressive rock", "soft rock", "R&B", "disco"])
music_genres

# Sample set
A = set(["Thriller", "Back in Black", "AC/DC"])
A

# Add element to set
A.add("NSYNC")
A

# Try to add duplicate element to the set
A.add("NSYNC")
A

# Remove the element from set
A.remove("NSYNC")
A

# Verify if the element is in the set
"AC/DC" in A

# Sample Sets
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

# Print two sets
album_set1, album_set2

# Find the intersections
intersection = album_set1 & album_set2
intersection

# Find the difference in set1 but not set2
album_set1.difference(album_set2) 
album_set2.difference(album_set1) 

# Use intersection method to find the intersection of album_list1 and album_list2
album_set1.intersection(album_set2)   

# Find the union of two sets
album_set1.union(album_set2)

# Check if superset
set(album_set1).issuperset(album_set2) 

# Check if subset
set(album_set2).issubset(album_set1)   

# Check if subset
set({"Back in Black", "AC/DC"}).issubset(album_set1) 

# Check if superset
album_set1.issuperset({"Back in Black", "AC/DC"})

True

In [98]:
#Quiz on Sets

#Convert the list ['rap','house','electronic music', 'rap'] to a set:
set(['rap','house','electronic music', 'rap'])

#Consider the list A = [1, 2, 2, 1] and set B = set([1, 2, 2, 1]), does sum(A) == sum(B)
A = [1, 2, 2, 1]
B = set([1, 2, 2, 1])
print("the sum of A is:", sum(A))
print("the sum of B is:", sum(B))

#Create a new set album_set3 that is the union of album_set1 and album_set2:
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

album_set3 = album_set1.union(album_set2)
print(album_set3)

#Find out if album_set1 is a subset of album_set3:
album_set1.issubset(album_set3)

the sum of A is: 6
the sum of B is: 3
{'Back in Black', 'The Dark Side of the Moon', 'AC/DC', 'Thriller'}

True

In [99]:
S={'A','B','C'}

U={'A','Z','C'}

U.union(S)

{'A', 'B', 'C', 'Z'}

Lab - Dictionaries

Review Questions